<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 가계부 정보 처리 SQL -->
<mapper namespace="global.sesoc.project2.msm.accbook.mapper.IAccbookMapper">


	<!-- 가계부 등록 -->
	<insert id="insertAccbook" parameterType="Accbook">
		insert into
		MSM_ACC_BOOK
		(
		a_id
		,u_id
		,a_date
		,a_type
		,main_cate
		,sub_cate
		,payment
		,price
		,a_memo
		)
		values
		(
		SEQ_MSM_ACC_BOOK.nextval
		,#{u_id}
		,#{a_date}
		,#{a_type}
		,#{main_cate}
		,#{sub_cate}
		,#{payment}
		,#{price}
		,#{a_memo}
		)
	</insert>

	<!-- 가계부 검색 -->
	<select id="selectAccbook" resultType="Accbook" parameterType="AccbookSearch">
		SELECT 
		a_id
		,u_id
		,to_char(a_date,'yy/mm/dd') a_date
		,a_type
		,main_cate
		,sub_cate
		,payment
		,price
		,a_memo FROM MSM_ACC_BOOK
		<where>
			u_id = #{u_id}
			and a_date between #{start_date} and #{end_date}
			<!-- 메인카테고리 체크 -->
			<if test="main_cates!=null">
				and main_cate in
				<foreach item="item" index="index" collection="main_cates"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>

			<!-- 서브카테고리 체크 -->
			<if test="sub_cates!=null">
				and sub_cate in
				<foreach item="item" index="index" collection="sub_cates"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>

			<!-- 타입 체크 -->
			<if test="type!=null">
				and a_type =#{type}
			</if>
			<!--결제 수단 체크 -->
			<if test="payment!=null">
				and payment in
				<foreach item="item" index="index" collection="payment"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<!--키워드 검색 체크 -->
			<if test="keyWord!=null">
				and a_memo like '%' || #{keyWord} || '%'
			</if>
		</where>
		UNION
		select a_id
		, u_id
		, a_date
		, a_type
		, main_cate
		, sub_cate
		, payment
		, price
		, a_memo 
		from
		(
		select
		ta_id a_id
		, u_id
		, to_char(ta_date,'yy/mm/dd') a_date
		, ta_type a_type
		, CASE WHEN ta_type='INC' THEN '수입' 
			WHEN ta_type='OUT' THEN '지출' ELSE 'DEFAULT' END AS main_cate 
		, '경조사비' sub_cate
		, '현금' payment
		, ta_price price
		, substr(ta_memo,7 , length(ta_memo) ) a_memo 
		from msm_target_acc_book mtga
		inner join msm_target mtg on mtga.t_id = mtg.t_id
		)
		<where> 
		u_id = #{u_id}
		<!-- 타입 체크 -->
			<if test="type!=null">
				and a_type =#{type}
			</if>
		</where>	
		and a_date between #{start_date} and #{end_date}
		order by a_date asc
		
	</select>
	
	<!-- 가계부 검색 그래프용 -->
	<select id="selectAccbook2" resultType="Accbook" parameterType="AccbookSearch">
		SELECT 
		a_id
		,u_id
		,to_char(a_date,'yy/mm/dd') a_date
		,a_type
		,main_cate
		,sub_cate
		,payment
		,price
		,a_memo FROM MSM_ACC_BOOK
		<where>
			u_id = #{u_id}
			and a_date between #{start_date} and #{end_date}
			<!-- 메인카테고리 체크 -->
			<if test="main_cates!=null">
				and main_cate in
				<foreach item="item" index="index" collection="main_cates"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>

			<!-- 서브카테고리 체크 -->
			<if test="sub_cates!=null">
				and sub_cate in
				<foreach item="item" index="index" collection="sub_cates"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>

			<!-- 타입 체크 -->
			<if test="type!=null">
				and a_type =#{type}
			</if>
			<!--결제 수단 체크 -->
			<if test="payment!=null">
				and payment in
				<foreach item="item" index="index" collection="payment"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<!--키워드 검색 체크 -->
			<if test="keyWord!=null">
				and a_memo like '%' || #{keyWord} || '%'
			</if>
		</where>
		UNION
		select a_id
		, u_id
		, a_date
		, a_type
		, main_cate
		, sub_cate
		, payment
		, price
		, a_memo 
		from
		(
		select
		ta_id a_id
		, u_id
		, to_char(ta_date,'yy/mm/dd') a_date
		, ta_type a_type
		, CASE WHEN ta_type='INC' THEN '수입' 
			WHEN ta_type='OUT' THEN '지출' ELSE 'DEFAULT' END AS main_cate 
		, '경조사비' sub_cate
		, '현금' payment
		, ta_price price
		, substr(ta_memo,7 , length(ta_memo) ) a_memo 
		from msm_target_acc_book mtga
		inner join msm_target mtg on mtga.t_id = mtg.t_id
		)
		<where> 
		u_id = #{u_id}
		<!-- 타입 체크 -->
			<if test="type!=null">
				and a_type =#{type}
			</if>
		</where>	
		and a_date between #{start_date} and #{end_date}
		order by a_date asc
	</select>
	
		<!-- 가계부 단일 -->
	<select id="selectAccbook3" resultType="Accbook" parameterType="String">
		SELECT 
		a_id
		,u_id
		,to_char(a_date,'yyyy-mm-dd') a_date
		,a_type
		,main_cate
		,sub_cate
		,payment
		,price
		,a_memo FROM MSM_ACC_BOOK
		where
		a_id=#{a_id}
	</select>
	<!-- 가계부 검색 그래프용 -->
	<select id="selectAccbook4" resultType="Accbook" parameterType="AccbookSearch">
		
		SELECT sub_cate
		,sum(price) price
		FROM MSM_ACC_BOOK
		where
		u_id = #{u_id}
		and a_date between #{start_date} and #{end_date}
		group by sub_cate
	
	</select>

	
	<!-- 가계부 수정 -->
	<update id="updateAccbook" parameterType="Accbook">
		update MSM_ACC_BOOK set
		a_date = #{a_date}
		,a_type = #{a_type}
		,main_cate = #{main_cate}
		,sub_cate = #{sub_cate}
		,payment = #{payment}
		,price = #{price}
		,a_memo = #{a_memo}
		where
		a_id = #{a_id}
	</update>
	<!-- 가계부 삭제 -->
	<delete id="deleteAccbook" parameterType="int">
		delete from MSM_ACC_BOOK 
		where a_id = #{a_id}
	</delete>
	
	<!-- 가계부  수 체크 -->
	<select id="getTotal" parameterType="AccbookSearch" resultType="int">
		select count(*) from MSM_ACC_BOOK
		<where>
			u_id = #{u_id}
			and a_date between #{start_date} and #{end_date}
			<!-- 메인카테고리 체크 -->
			<if test="main_cates!=null">
				and main_cate in
				<foreach item="item" index="index" collection="main_cates"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>

			<!-- 서브카테고리 체크 -->
			<if test="sub_cates!=null">
				and sub_cate in
				<foreach item="item" index="index" collection="sub_cates"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>

			<!-- 타입 체크 -->
			<if test="type!=null">
				and a_type =#{type}
			</if>
			<!--결제 수단 체크 -->
			<if test="payment!=null">
				and payment in
				<foreach item="item" index="index" collection="payment"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<!--키워드 검색 체크 -->
			<if test="keyWord!=null">
				and a_memo like '%' || #{keyWord} || '%'
			</if>
		</where>
	</select>
</mapper>
