#table1 {
	font-family: "Lato", "sans-serif";
	float: left;
	width: 400px;
	margin-left: 10px;
	margin-right: 30px;
}

#table1 th {
	padding: 1em;
	background-color: #e8503a;
	font-size: 10px;
	text-align: center;
	color: white;
}

#table1 td {
	font-size: 10px;
	text-align: center;
	text-align: center;
	height: 5px;
	width: 10em;
	padding: 1em;
}

#piechart {
	float: right;
	width: 280px;
	height: 400px;
}

#columnchart_values {
	float: right;
	width: 280px;
	height: 400px;
}

#carousel-example-generic {
	float: left;
}
