<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 스케줄러 정보 처리 SQL -->
<mapper namespace="global.sesoc.project2.msm.calendar.mapper.ICalendarMapper">
	<select id="selectSchedule" resultType="Calendar">
		SELECT 
			id
			, text
			, content
			, TO_CHAR(start_date, 'yyyy-mm-dd hh24:mi') start_date
			, TO_CHAR(end_date, 'yyyy-mm-dd hh24:mi') end_date
		FROM msm_calendar
	</select>
	
	<insert id="insertSchedule" parameterType="Calendar">
		insert into 
			msm_calendar 
				(
					id
					, u_id
					, text
					, start_date
					, end_date
					, content
					<if test="t_id != null">
					, t_id
					</if>
					<if test="rec_type != null">
					, rec_type
					</if>
					<if test="c_target != null">
					, c_target
					</if>
					<if test="c_location != null">
					, c_location
					</if>
				)
		values 
				(
					seq_msm_calendar.nextval
					, #(u_id)
				)
	</insert>
	
</mapper>
