<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 스케줄러 정보 처리 SQL -->
<mapper namespace="global.sesoc.project2.msm.calendar.mapper.ICalendarMapper">
	<!-- 월단위 일정목록 얻기 -->
	<select id="selectSchedules" resultType="Calendar" parameterType="map">
		<![CDATA[
		  SELECT 
			  id 
			  , text 
			  , TO_CHAR(start_date, 'yyyy-mm-dd hh24:mi') start_date 
			  , TO_CHAR(end_date, 'yyyy-mm-dd hh24:mi') end_date
			  , content
			  , rec_type
			  , event_pid
	  		  , alarm_yn
	  		  , alarm_val
		  FROM msm_calendar
		  WHERE start_date >= TO_DATE(#{date}, 'yyyy-mm-dd')
		  AND end_date <= LAST_DAY(TO_DATE(#{date}, 'yyyy-mm-dd')) + 1
		  ]]>
	</select>
	
	<!-- 아이디에 해당하는 이벤트 존재여부 구하기 (수정/등록 분기처리시 사용) -->
	<select id="selectSchedule" resultType="Calendar" parameterType="map">
		  SELECT 
			  id 
			  , text 
			  , TO_CHAR(start_date, 'yyyy-mm-dd hh24:mi') start_date 
			  , TO_CHAR(end_date, 'yyyy-mm-dd hh24:mi') end_date
			  , content
			  , rec_type
			  , event_pid
	  		  , event_length
	  		  , alarm_yn
	  		  , alarm_val
		  FROM msm_calendar
		  WHERE id = #{id}
	</select>
	
	<!-- 일정 등록 -->
	<insert id="insertSchedule" parameterType="Calendar">
		INSERT INTO 
			msm_calendar 
				(
					id
					, u_id
					<if test="t_id != null and !t_id != ''">
					, t_id
					</if>
					, text
					, start_date
					, end_date
					, content
					<if test="c_target != null and !c_target != ''">
					, c_target
					</if>
					<if test="rec_type != null and !rec_type != ''">
					, rec_type
					</if>
					<if test="c_location != null and !c_location != ''">
					, c_location
					</if>
					<if test="event_pid != null and !event_pid != ''">
					, event_pid
					</if>
					<if test="!alarm_val.equals('none')">
					, alarm_yn
					, alarm_val
					</if>
				)
		VALUES 
				(
					SEQ_MSM_CALENDAR.NEXTVAL
					, #{u_id}
					<if test="t_id != null and !t_id != ''">
					, #{t_id}
					</if>
					, #{text}
					, TO_DATE(#{start_date}, 'yyyy-mm-dd hh24:mi:ss')
					, TO_DATE(#{end_date}, 'yyyy-mm-dd hh24:mi:ss')
					, #{content}
					<if test="c_target != null and !c_target != ''">
					, #{c_target}
					</if>
					<if test="rec_type != null and !rec_type != ''">
					, #{rec_type}
					</if>
					<if test="c_location != null and !c_location != ''">
					, #{c_location}
					</if>
					<if test="event_pid != null and !event_pid != ''">
					, #{event_pid}
					</if>
					<if test="!alarm_val.equals('none')">
					, 'T'
					, #{alarm_val}
					</if>
				)
	</insert>
	
	<!-- 최신 글 번호 구하기 (반복등록시 필요) -->
	<select id="selectLatestEventNum" resultType="string">
		SELECT id
		FROM msm_calendar
		WHERE ROWNUM = 1
		ORDER BY id DESC
	</select>
	
	<!-- insert이후 다음날 구하기 (반복등록시 필요) -->
	<select id="selectNextDate" parameterType="string" resultType="string">
		SELECT 
			TO_CHAR(TO_DATE(#{check_day}
				, 'yyyy-mm-dd hh24:mi:ss') + 1
				, 'yyyy-mm-dd hh24:mi:ss') next_day 
		FROM dual
	</select>
	
	<!-- insert이후 다음날 구하기 (매월) (반복등록시 필요) -->
	<select id="selectNextDateForMonth" parameterType="map" resultType="string">
		SELECT 
			TO_CHAR(add_months(TO_DATE(#{check_day}
				, 'yyyy-mm-dd hh24:mi:ss'), ${month})
				, 'yyyy-mm-dd hh24:mi:ss') next_day 
		FROM dual
	</select>
	
	<!-- 일정 삭제 -->
	<delete id="deleteSchedule" parameterType="string">
		DELETE FROM msm_calendar 
		WHERE id = #{id}
	</delete>
	
	<!-- 일정 수정 -->
	<update id="updateSchedule" parameterType="Calendar">
		UPDATE msm_calendar
		SET
			text = #{text}
			, content = #{content}
			, start_date = TO_DATE(#{start_date}, 'yyyy-mm-dd hh24:mi:ss')
			, end_date = TO_DATE(#{end_date}, 'yyyy-mm-dd hh24:mi:ss')
			<choose>
				<when test="!alarm_val.equals('none')">
				, alarm_yn = 'T'
				, alarm_val = #{alarm_val}
				</when>
				<when test="alarm_val.equals('none')">
				, alarm_yn = 'F'
				, alarm_val = null
				</when>
			</choose>
		WHERE
			id = #{id}
	</update>
	
	<!-- 알림시간 얻기 -->
	<select id="selectAlarmTime" parameterType="string" resultType="string">
		select to_char (start_date - alarm_val/(24*60), 'ss mi hh24 dd mm ? yyyy') alarm_time
		from msm_calendar
		where alarm_yn = 'T'
			and id = #{id} 
	</select>
</mapper>
