<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원 정보 처리 SQL -->
<mapper namespace="global.sesoc.project2.msm.user.mapper.IUserMapper">
<!-- 회원가입 -->
<insert id="userInsert" parameterType="User">
	insert into MSM_USER(u_id, u_pwd, u_name, u_email, u_phone, u_birth, u_address) 
	values(#{u_id}, #{u_pwd}, #{u_name}, #{u_email}, #{u_phone}, #{u_birth}, #{u_address})
</insert>

<!-- 로그인 -->
<select id="userLogin" parameterType="string" resultType="User">
	select * from MSM_USER where u_id=#{0} and u_pwd=#{1}
</select>

<!-- 아이디 중복체크 -->
<select id="idCheck" parameterType="string" resultType="string">
	select u_id from MSM_USER where u_id=#{u_id}
</select>

<!-- 유저검색 (ID,PW찾기,아이디체크)-->
<select id="userIDSearch" parameterType="User" resultType="User">
	select * from MSM_USER 
	<where> 
	<!-- 메일 체크 -->
		'1'='1'
		<if test="u_id!=null">
			and u_id =#{u_id}
		</if>
		<if test="u_name!=null">
			and u_name =#{u_name}
		</if>
		<if test="u_email!=null">
			and u_email=#{u_email}
		</if>
	</where>
</select>

<!-- 회원정보수정 -->
<update id="user_Update" parameterType="User" >
	update MSM_USER set
	u_name = #{u_name}
	<if test="u_pwd !=null">
		,u_pwd = #{u_pwd}		
	</if>
	,u_email = #{u_email}
	,u_phone = #{u_phone}
	,u_birth = #{u_birth}
	,u_address = #{u_address}	
	where
	u_id = #{u_id}
</update>

<!-- 회원탈퇴 -->
<delete id="userDelete" parameterType="string" >
	delete from MSM_USER 
	where u_id = #{u_id}
</delete>

</mapper>