<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원 정보 처리 SQL -->
<mapper namespace="global.sesoc.project2.msm.user.mapper.IUserMapper">

<insert id="userInsert" parameterType="User">
	insert into MSM_USER(u_id, u_pwd, u_name, u_email, u_phone, u_birth, u_address) 
	values(#{u_id}, #{u_pwd}, #{u_name}, #{u_email}, #{u_phone}, #{u_birth}, #{u_address})
</insert>

<select id="userLogin" parameterType="string" resultType="User">
	select * from MSM_USER where u_id=#{0} and u_pwd=#{1}
</select>

<select id="userIDSearching" parameterType="string" resultType="string">
	select u_id from MSM_USER where u_email=#{0}
</select>

<select id="userPWSearching" parameterType="string" resultType="string">
	select u_email from MSM_USER where u_id=#{0} and u_name=#{1} and u_email=#{2}
</select>

<update id="changePW" parameterType="string">
	update MSM_USER set u_pwd=#{1} where u_id=#{0}
</update>

<update id="modificationPW" parameterType="string">
	update MSM_USER set u_pwd=#{1} where u_id=#{0}
</update>

<select id="idCheck" parameterType="string" resultType="string">
	select u_id from MSM_USER where u_id=#{u_id}
</select>

<update id="updateUser" parameterType="User">
	update MSM_USER set 
						u_id=#{u_id}
					    , u_pwd=#{u_pwd}
					    , u_name=#{u_name}
					    , u_email=#{u_email}
					    , u_phone=#{u_phone}
					    , u_birth=#{u_birth}
					    , u_address=#{u_address}
</update>

<delete id="deleteUser" parameterType="string">
	delete from MSM_USER where u_id=#{u_id}
</delete>

<update id="updateUser2" parameterType="int">
	update MSM_USER set u_emergences=#{u_emergences}
</update>

<select id="accList" parameterType="string" resultType="Accbook">
	select *
	from 
		MSM_ACC_BOOK 
	where 
		u_id=#{0} 
	and 
		to_char(a_date, 'mm')=#{1}
</select>

<insert id="additionalIncome" parameterType="Accbook">
	insert into MSM_ACC_BOOK(a_id, u_id, a_date, a_type, main_cate, sub_cate, payment, price, a_memo)
	values(
		SEQ_MSM_ACC_BOOK.nextval
		, #{u_id}
		, to_date(#{a_date}, 'YYYY-MM-DD')
		, 'i'
		, '변동수입'
		, '변동수입'
		, #{payment}
		, #{price}
		, #{a_memo}
	)
</insert>
	
</mapper>